a{
    text-decoration: none;
    color: #666;
}

.top-bar{
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}
.menu{
    display: flex;
}
.menu-item{
    margin-left: 20px;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.banner{
    width: 100%;
    max-height: 500px;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}
.banner img{
    width: 100%;
}
.banner .caption{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    text-align: center;
    color: azure;
}

/*BANNER 2 FLEXBOX*/

.banner-2{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('../img/michal-mrozek-Fz3vBE8XoHc-unsplash.jpg');
    background-size: cover;
    background-position: center;
}


.banner-2 .caption{
    margin: 0 auto;
    text-align: center;
    color: rgb(14, 13, 13);
}